<nav class="navbar" role="navigation" aria-label="dropdown navigation">

  <div class="navbar-brand">
    <a class="navbar-item" href="/">Home</a>

    <div class="navbar-burger burger" data-target="#mobile-menu" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

    <div id="mobile-menu" class="navbar-menu">
  <div class="navbar-start">


    <a class="navbar-item" href="/dances">All dances</a>
    <a class="navbar-item" href="/studios">All studios</a>
  </div>
  <% if(locals.isAuthenticated) { %>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">My Account</a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/profile">My Profile</a>
          <a class="navbar-item" href="/dances/new">Add a dance</a>
          <a class="navbar-item" href="/studios/new">Add a studio</a>
          <a class="navbar-item" href="/logout">Logout</a>
        </div>
      </div>
    <% } else { %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Login/Register</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/register">Register</a>
          <a class="navbar-item" href="/login">Login</a>
        </div>
      </div>
    </div>
  <% } %>
    </div>
</nav>
