@font-face {
  font-family: 'noelan-script'; /*a name to be used later*/
  src: url('/css/fonts/noelan-script.otf'); /*URL to font*/
}

/* .hero.homepage {
  background-image: url(https://placeimg.com/500/200/any);
  background-size: contain;
  background-repeat: no-repeat;
} */


.homepage-title {
  font-family: 'noelan-script';
  /* postition: absolute; */
}

.slick-prev:before, .slick-next:before {
  color: blue !important;
}

.comments {
  margin-bottom: 1.5rem;
}

form.delete {
  display: inline-block;
  float: right;
}






form, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  display: flex;
  flex-direction: row-reverse;
  width: 140px;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rating > input { display: none; }

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
