* {
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}
/* .hero.homepage {
  background-image: url(https://placeimg.com/500/200/any);
  background-size: contain;
  background-repeat: no-repeat;
} */

.slick-prev:before, .slick-next:before {
  color: blue !important;
}

.comments {
  margin-bottom: 1.5rem;
}

.showPageInfo p {
  margin: 10px 10px 20px 10px;
}

.studioShowPageInfo p {
  margin: 10px 0;
}

.studioShowPageInfo #classesLink p {
  margin-bottom: 10px;
}

.studioShowPageInfo a {
  color: #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
}

.studioShowPageInfo a:hover {
  color: black;
}

.showPageInfo .column {
  padding: 0;
}

form.delete {
  display: inline-block;
  float: right;
}

.dance-wishlist, .showButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.image img {
  border-radius: 10px;
}

.card {
  box-shadow: none;
  font-family: 'Roboto', sans-serif !important;
}

.card:hover {
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.card-content{
  padding: 24px 5px;
}

.ratingColumn h4 {
  float: right;
  margin-right: 10px;
}

.profileUserInfo {
  display: flex;
  justify-content: flex-start;
}

.profileUserInfo img {
  border-radius: 50%;
  width: 100px;
}

form.sort, label {
  margin-bottom: 20px;
  margin-top: 15px;
}

.navbar {
  /* margin: 10px 100px; */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.container>.navbar {
  margin: 10px 0;
}

.navbar-item{
  padding: 0 30px;
}

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover {
  background-color: white;
}

.navbar-link::after {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}


form, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  display: flex;
  flex-direction: row-reverse;
  width: 140px;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rating > input { display: none; }

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
