<div class="container">
  <form method="POST" action="/studios">
    <div class="field">
      <label class="label">Studio Name</label>
      <div class="control">
        <input class="input" name="name" type="text" placeholder="Studio Name" required minlength="2">
      </div>
    </div>
    <div class="field">
      <label class="label">Location</label>
      <div class="control">
        <input class="input" name="location" type="text" placeholder="Location" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image" required>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
