<div class="container">
  <form method="POST" action="/dances">
    <div class="field">
      <label class="label">Dance Class</label>
      <div class="control">
        <input class="input" name="danceClass" type="text" placeholder="Dance Class" required minlength="2">
      </div>
    </div>
    <div class="field">
      <label class="label">Location</label>
      <div class="control">
        <input class="input" name="location" type="text" placeholder="Location" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Content (min 30 chars)</label>
      <div class="control">
        <textarea class="textarea" name="content" placeholder="Content (min 30 chars)" minlength="30"></textarea>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
