

<section class="hero is-large homepage">
  <div class="container">

    <div class="my-slick">
      <div><img src="https://www.fillmurray.com/g/500/500"><h1 class="title homepage-title has-text-right">Judges Scores</h1></div>
      <div><img src="https://www.fillmurray.com/g/500/500"></div>
      <div><img src="https://www.fillmurray.com/g/500/500"></div>
    </div>

    <div class="columns is-multiline">
      <div class="column is-one-third-desktop is-half-tablet">
        <figure class="image is-350x350">
          <img src="https://placeimg.com/350/350/any">
        </figure>
      </div>
      <div class="column is-one-third-desktop is-half-tablet">
        <figure class="image is-350x350">
          <img src="https://placeimg.com/350/350/any">
        </figure>
      </div>
      <div class="column is-one-third-desktop is-half-tablet">
        <figure class="image is-350x350">
          <img src="https://placeimg.com/350/350/any">
        </figure>
      </div>
    </div>
    <div class="columns is-multiline">
      <div class="column is-half-desktop is-half-tablet">
        <figure class="image is-500x350">
          <img src="https://placeimg.com/500/350/any">
        </figure>
      </div>
      <div class="column is-half-desktop is-half-tablet">
        <figure class="image is-500x350">
          <img src="https://placeimg.com/500/350/any">
        </figure>
      </div>
    </div>
</div>
</section>
