<section class="hero is-large homepage">
  <div class="hero-body">
    <div class="container has-text-right">
      <h1 class="title">Blank Canvas</h1>
      <%# <h2 class="subtitle ">What's your story?</h2> %>
    </div>
  </div>
</section>
